*{
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
  background-color: #000;

}

.row div {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: top;
}
.brick {
  background-color: blue;
}
.coin {
  background: url("img/coin.gif");
  background-size: contain;
}
.cherry{
  background: url("img/cherry.png");
  background-size: contain;

}
#pacman{
    background: url('img/pacman.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0px;
    left: 0px;
    
}
#pinky{
    background: url('img/pinky.gif');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0px;
    left: 0px;
}


#life{
    color: white;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    padding: 7px;
    text-align: center;
}

#score{
    color: white;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    padding: 7px;
    text-align: center;
}